$white: #FFFFFF;
$blanched-almond: #FFE8D1;
$rackley: #568EA3;
$sea-serpent: #68C3D4;
$tomato: #FF6542;

body {
  background-color: $white;
  color: $rackley;
}

h1 {
  text-align: center;
}

.kind {
  color: $sea-serpent;
}

.path {
  color: $tomato;
}

h2,
h3 {
  color: $tomato;
  text-align: center;
}

h4 {
  color: $sea-serpent;
}

.navbar {
  background-color: $blanched-almond;
}

.energy-head {
  color: $tomato;
}

.holding {
  border: 4px solid orange;
}

.all-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 3px solid green;
}

.each-item {
  width: 100%;
  border: 2px solid red;
}

.lone-item {
  border: 1px solid blue;
  width: 100%;
  display: flex;
  padding: 20px;
}

.energy-level {
  text-align: center;
}

.crucial {
  color: $tomato;
}

.crossoff {
  text-decoration: line-through;
}
