$white: #FFFFFF;
$blanched-almond: #FFE8D1;
$rackley: #568EA3;
$sea-serpent: #68C3D4;
$tomato: #FF6542;

body {
  background-color: $white;
  color: $rackley;
}

h1 {
  text-align: center;
}

.kind {
  color: $sea-serpent;
}

.path {
  color: $tomato;
}

h2,
h3 {
  color: $tomato;
  text-align: center;
}

h4 {
  color: $sea-serpent;
}

.navbar {
  background-color: $blanched-almond;
}

.energy-head {
  color: $tomato;
}

.holding {
}

.all-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.each-item {
  width: 100%;
}

.lone-item {
  width: 100%;
  display: flex;
  padding: 10px;
}

.is-completed {
  display: flex;
}

.item-name {
  width: 50%;
}

.item-content {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.date {

}

.energy-needs {

}

.buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid red;
}

.delete-button {
  width: 100%;
  height: 50%;
  background-color: $tomato;
}

.edit-button {
  width: 100%;
  height: 50%;
}

.add-item-button {
  margin: 10px;
}

.energy-level {
  text-align: center;
}

.crucial {
  color: $tomato;
}

.crossoff {
  text-decoration: line-through;
}
