<h3>My To-Dos</h3>
<div class="all-items col-md-6">
    {{#each model as |item|}}
    <div class="each-item">
      {{my-item item=item
      updateItem='updateItem'
      deleteItem='deleteItem'}}
    </div>
    {{/each}}
  <button {{action toggleProperty 'addNew'}}>Add New Item</button>
  {{#if addNew}}
    {{new-item createItem='createItem'}}
  {{/if}}
</div>
